<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Collection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body id="formbody">
<nav>
        <!-- Responsive navigation bar for better user navigation experience -->
        <div class="navbar">
            <!-- Home link with organization logo for brand recognition -->
            <a href="/">
            <img src="{{ url_for('static', filename='images/gic.logo.jpeg') }}" class="logo" alt="gic logo">
            </a>
            <!-- Navigation links for site navigation -->
            <ul>
                <li><a href="/info">Info</a></li>
                <li><a href="/questionnaire">Questionnaire</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div>
    </nav>
    <main>
        <header id="formheader">
            <div class="questions">
            <h1 id="title">Students Progress at GIC Survey</h1>
            </div>
        </header>
        <form method="post" id="survey-form" action="{{ url_for('questionnaire') }}">
            {{ form.csrf_token() }}

            <fieldset>
            <legend><strong>Identification</strong></legend>
                <!-- Name Field -->
                {{ form.name.label }}
                {{ form.name() }}<br><br>

                <!-- Student Number Field -->
                {{ form.student_number.label }}
                {{ form.student_number() }}<br><br>

                <!-- Email Field -->
                {{ form.email.label }}
                {{ form.email() }}<br><br>
            </fieldset>
            </fieldset>
            <br>
                <!--attendance-->
                {{ form.attendance.label }}<br>
                {{ form.attendance() }}<br><br>
                <!--Number of students-->
                {{ form.students_number.label }}<br>
                {{ form.students_number() }}<br><br>
                <!--Hours spent self-studying radio buttons-->
                {{ form.self_learning.label }}<br>
                {{ form.self_learning() }}<br><br>
                <!--academic performance drop down menu-->
                {{ form.performance.label }}<br>
                {{ form.performance() }}<br><br>
                <!--most challenging course-->
                {{ form.challenging_courses.label }}<br>
                {{ form.challenging_courses() }}<br><br>
                <!--teaching methods-->
                {{ form.teaching_methods.label }}<br>
                {{ form.teaching_methods() }}<br><br>
                <!--level of satisfaction drop down menu-->
                {{ form.resources_satisfaction.label }}<br>
                {{ form.resources_satisfaction() }}<br><br>
                <!--improvement recommendations-->
                <label for="improvement">Can you provide recommendations on how we can improve the academic experience at GIC?</label><br>
                <textarea id="improvement" name="improvement" cols="40" rows="5" max="250"></textarea><br>
                <br>
                <!--goals-->
                <label for="goals">Do you feel your academic goals are being met at GIC? Why or why not?</label><br>
                <textarea id="goals" name="goals" cols="40" rows="3" max="250"></textarea><br>
                <br>
                <!--submit button-->
                    <button type="submit" id="formButton">Submit</button>
            </form>
    </main>
<!-- Footer with social icons and contact information -->
<footer class="footer">
    <div class="footerContainer">
        <!-- Social media links for further engagement -->
        <div class="socialIcons">
            <a href="https://www.facebook.com/GICGlasgow/?locale=en_GB"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.instagram.com/gicglasgow/"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.kaplanpathways.com/where-to-study/glasgow-international-college/"><i class="fa-brands fa-google-plus"></i></a>
            <a href="https://www.youtube.com/GICGlasgow"><i class="fa-brands fa-youtube"></i></a>
        </div>
        <!-- Basic contact info and attribution -->
        <div class="footerBottom">
            <p>Open: Monday to Saturday 8:30 Am to 5:30 Pm</p>
            <p>Call: 0141 330 8667</p>
            <p>Designed by: D alali</p>
        </div>
    </div>
</footer>
</body>
</html>