<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Collection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body id="formbody">
<nav>
        <div class="navbar">
            <a href="welcomepage.html">
            <img src="gic.logo.jpeg" class="logo" alt="gic logo">
            </a>
            <ul>
                <li><a href="informationpage.html">Info</a></li>
                <li><a href="datacollectionpage.html">Questionnaire</a></li>
                <li><a href="contactpage.html">Contact</a></li>
            </ul>
        </div>
    </nav>
    <main>
        <header id="formheader">
            <div class="questions">
            <h1 id="title">Students Progress at GIC Survey</h1>
            </div>
        </header>
        <form id="survey-form">
            <fieldset>
            <legend><strong>Identification</strong></legend>
                <!--Name-->
                <label for="name" id="name">Name:</label>
                <input type="text" name="name" placeholder="Enter your name" required/>
                <br><br>
                <!--Student Number-->
                <label for="student_number" id="student_number">Student number:</label>
                <input type="text" name="student_number" placeholder="P######" pattern="P[0-9]{6}" required>
                <br><br>
                <!--Email-->
                <label for="email" id="email">Email:</label>
                <input type="email" name="email" placeholder="example@example.com" required/>
                <br><br>
            </fieldset>
            <br>
                <!--attendance-->
                <label for="attendance">What is your average class attendance rate?</label><br>
                <input type="rate" id="attendance" name="attendance">
                <br><br>
                <!--Number of students-->
                <label for="students">What is the total number of students in your class?</label><br>
                <input type="total-number" id="students" name="students">
                <br><br>
                <!--Hours spent self-studying radio buttons-->
                <label>How many hours per week do you typically spend on self-learning outside of class?</label><br>
                <input type="radio" id="hours1" name="self_learning" value="1-2 hours">
                <label for="hours1">1-2 hours</label><br>
                <input type="radio" id="hours2" name="self_learning" value="3-4 hours">
                <label for="hours2">3-4 hours</label><br>
                <input type="radio" id="hours3" name="self_learning" value="5-6 hours">
                <label for="hours3">5-6 hours</label><br>
                <input type="radio" id="hours4" name="self_learning" value="7+ hours">
                <label for="hours4">7+ hours</label><br>
                <br>
                <!--academic performance drop down menu-->
                <label for="performance">How would you rate your overall academic performance on a scale of 1 to 10?</label><br>
                <select id="performance" name="performance">
                    <option value="">Select...</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select><br>
                <br>
                <!--most challenging course-->
                <label for="challengingCourses">Which courses have you found most challenging and why?</label><br>
                <textarea id="challengingCourses" name="challengingCourses" cols="40" rows="5" max="250"></textarea><br>
                <br>
                <!--teaching methods-->
                <label for="teachingMethods">Are you satisfied with the teaching methods used in the classes? Explain why or why not.</label><br>
                <textarea id="teachingMethods" name="teachingMethods" cols="40" rows="5" max="250"></textarea><br>
                <br>
                <!--level of satisfaction drop down menu-->
                <label for="resources">What is your level of satisfaction with the resources available for academic support?</label><br>
                <select id="resources" name="resources">
                    <option value="">Select...</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select><br>
                <br>
                <!--improvement recommendations-->
                <label for="improvement">Can you provide recommendations on how we can improve the academic experience at GIC?</label><br>
                <textarea id="improvement" name="improvement" cols="40" rows="5" max="250"></textarea><br>
                <br>
                <!--goals-->
                <label for="goals">Do you feel your academic goals are being met at GIC? Why or why not?</label><br>
                <textarea id="goals" name="goals" cols="40" rows="3" max="250"></textarea><br>
                <br>
                <!--submit button-->
                    <button type="submit" id="formButton">Submit</button>
            </form>
    </main>
<!-- Footer with social icons and contact information -->
<footer class="footer">
    <div class="footerContainer">
        <!-- Social media links for further engagement -->
        <div class="socialIcons">
            <a href="https://www.facebook.com/GICGlasgow/?locale=en_GB"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.instagram.com/gicglasgow/"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.kaplanpathways.com/where-to-study/glasgow-international-college/"><i class="fa-brands fa-google-plus"></i></a>
            <a href="https://www.youtube.com/GICGlasgow"><i class="fa-brands fa-youtube"></i></a>
        </div>
        <!-- Basic contact info and attribution -->
        <div class="footerBottom">
            <p>Open: Monday to Saturday 8:30 Am to 5:30 Pm</p>
            <p>Call: 0141 330 8667</p>
            <p>Designed by: D alali</p>
        </div>
    </div>
</footer>
</body>
</html>