<!DOCTYPE html>
<html lang="en">
<head>
    <!-- The viewport meta tag ensures the site is mobile-friendly by setting the width of the page to follow the screen-width of the device -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Info</title>
    <!-- External CSS file linked for styling the webpage -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="infobody">
<!-- Navigation bar section for easy navigation through different pages of the website -->
<nav>
    <!-- Responsive navigation bar for better user navigation experience -->
        <div class="navbar">
            <!-- Home link with organization logo for brand recognition -->
            <a href="/">
            <img src="{{ url_for('static', filename='images/gic.logo.jpeg') }}" class="logo" alt="gic logo">
            </a>
            <!-- Navigation links for site navigation -->
            <ul>
                <li><a href="/info">Info</a></li>
                <li><a href="/questionnaire">Questionnaire</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div>
</nav>
<main>
    <!-- Header section to introduce the main content of the page -->
    <header class="infoheader">
        <h1 id="title">Reasons for collecting data on student progress</h1>
    </header>
    <!-- List of reasons why data collection on student progress is important, for clear communication of objectives -->
    <div class="reasons">
        <ol>
            <li>Understanding the effectiveness of current teaching methods.</li>
            <li>GIC will be able to identify areas that need improvement in the curriculum.</li>
            <li>Assessing student satisfaction with the learning environment and make changes if needed.</li>
            <li>Tracking student progress over time and identify trends.</li>
            <li>Gathering feedback for the development of future programs and initiatives.</li>
            <li>Identifying any barriers to learning that students may be facing.</li>
            <li>To support decision-making processes related to academic planning.</li>
        </ol>
    </div>
    <!-- Section to show real-life examples and testimonies on the importance of feedback, enhancing credibility -->
    <div class="example-boxes">
        <div class="example-box">
            <h2>Student Representative,</h2>
            <p>I saw how student feedback was vital in improving the college's facilities. Constructive criticism led to the renovation of the library and the introduction of more study spaces.
</p>
        </div>
        <div class="example-box">
            <h2>Freshman</h2>
            <p>A course satisfaction survey helped my university identify a course that wasn't meeting student expectations. Changes were implemented, making the course more interactive and enjoyable.</p>
        </div>
        <div class="example-box">
            <h2>Final year</h2>
            <p>A survey on career services revealed that many students were unaware of the resources available. As a result, the university increased its efforts to promote these services, which greatly benefited my career planning process.</p>
        </div>
        <div class="example-box">
            <h2>Teaching assistant</h2>
            <p>I noticed how feedback on teaching methods significantly improved the learning experience. Professors adjusted their methods based on student input, making classes more engaging and effective.</p>
        </div>
        <div class="example-box">
            <h2>YouTube Video</h2>
            <!-- Video included to provide visual and auditory content, increasing user engagement -->
            <video controls>
                <source src="{{ url_for('static', filename='videos/Why Customer Feedback Is So Important _ Marcus Business Learning Center Lesson.mp4') }}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <p>Why feedback is important to an institution/business.</p>
        </div>
    </div>
</main>
<!-- Footer contains contact information and social media links for increased accessibility and user engagement -->
<footer class="footer">
    <div class="footerContainer">
        <!-- Social media links for further engagement -->
        <div class="socialIcons">
            <a href="https://www.facebook.com/GICGlasgow/?locale=en_GB"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.instagram.com/gicglasgow/"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.kaplanpathways.com/where-to-study/glasgow-international-college/"><i class="fa-brands fa-google-plus"></i></a>
            <a href="https://www.youtube.com/GICGlasgow"><i class="fa-brands fa-youtube"></i></a>
        </div>
        <!-- Basic contact info and attribution -->
        <div class="footerBottom">
            <p>Open: Monday to Saturday 8:30 Am to 5:30 Pm</p>
            <p>Call: 0141 330 8667</p>
            <p>Designed by: D alali</p>
        </div>
    </div>
</footer>
</body>
</html>